.header {
    background-color: #346CD8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999;
    
    &-title {
        cursor: pointer;
        font-weight: 500;
    }

    &-links {
        list-style: none;
        display: none;

        li {
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
        }

        .selected {
            font-weight: 700;
        }

        &-mobile {
            display: block;
        }
    }

    &-profile {
        display: flex;
        position: relative;

        &_info {
            display: flex;
            align-items: center;

            img {
                width: 30px;
                border-radius: 100%;
            }

            &_text {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &_arrow {
            margin-left: 10px;
           
            i {
                cursor: pointer;
            }
        }

        &_dropdown {
            position: absolute;
            background-color: #e3e3e3;
        }
    }
}

@media only screen and (min-width: 330px) {
    .header {
        flex-direction: row;
    }
}

@media only screen and (min-width: 700px) {
    .header-links {
        display: block;
    }

    .header-links-mobile {
        display: none;
    }
}