<div class="form">
    <h2>Edit patient</h2>
    
    <form *ngIf="patientForm" [formGroup]="patientForm">
      <mat-stepper [linear]="isLinear" #stepper>  
          <mat-step [stepControl]="patientForm">
            <ng-template matStepLabel>Password</ng-template>
            <h3>Set your password</h3>
  
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
  
              <input matInput type="password" formControlName="password" placeholder="">
            </mat-form-field>
  
            <div class="btn-wrapper">
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step [stepControl]="patientForm">
            <ng-template matStepLabel>Email</ng-template>
            <h3>Set your email</h3>
  
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
  
              <input matInput type="email" formControlName="email" placeholder="">
            </mat-form-field>
  
            <div class="btn-wrapper">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>
  
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <h3>Patient Details</h3>
  
            <div class="done-info">
              <div>
                <span>Password Length: <strong *ngIf="patientForm.value.password; else notSelected">{{patientForm.value.password.length}}</strong></span>
                <span>Email: <strong *ngIf="patientForm.value.email; else notSelected">{{patientForm.value.email}}</strong></span>
  
                <ng-template #notSelected>
                  <strong style="color: #ff8989">Not Selected</strong>
                </ng-template>
              </div>
            </div>
  
            <div class="btn-wrapper">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="save()">Save</button>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
</div>

<a class="removeBtn" (click)="remove()" matTooltip="Remove Patient"><i class="fas fa-trash"></i></a>