<div class="form">
    <h2>Edit examination</h2>

    <form *ngIf="examinationForm" [formGroup]="examinationForm">
      <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="examinationForm">
          <ng-template matStepLabel>Set the examination information</ng-template>

          <div class="long-form-field">
            <div class="form-field-wrapper">
              <h3>Set the examination information</h3>

              <mat-form-field appearance="fill">
                <mat-label>Information</mat-label>
    
                <textarea matInput formControlName="information" placeholder="" style="height: 100px;"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="btn-wrapper">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </mat-step>
        
        <mat-step [stepControl]="examinationForm">
          <ng-template matStepLabel>Set Status</ng-template>
          <h3>Set Status</h3>

          <div class="long-form-field">
            <div class="form-field-wrapper">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                
                <mat-select formControlName="completed">
                  <mat-option *ngFor="let status of statuses" [value]="status.id">
                    {{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="btn-wrapper">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </mat-step>

          <mat-step [stepControl]="examinationForm">
            <ng-template matStepLabel>Set Date</ng-template>
            <h3>Set Date</h3>

            <div class="long-form-field">
              <div class="form-field-wrapper">
                <mat-form-field appearance="fill">
                  <mat-label>Date</mat-label>
      
                  <input matInput [matDatepicker]="picker" formControlName="madeOnDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
  
            <div class="btn-wrapper">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </mat-step>
  
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <h3>Examination Details</h3>
  
            <div class="done-info">
              <div>
                <span>Status: <strong *ngIf="(examinationForm.value.completed | nameFromValueObject: statuses) != ''; else notSelected">{{examinationForm.value.completed | nameFromValueObject: statuses}}</strong></span>
                <span>Date: <strong *ngIf="examinationForm.value.madeOnDate | dateToReadable; else notSelected">{{examinationForm.value.madeOnDate | dateToReadable}}</strong></span>
                <span>Information: </span>
                <span *ngIf="examinationForm.value.information; else notSelected">{{examinationForm.value.information}}</span>
                
                <ng-template #notSelected>
                  <strong style="color: #ff8989">Not Selected</strong>
                </ng-template>
              </div>
            </div>
  
            <div class="btn-wrapper">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="save()">Save</button>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
</div>

  <a class="removeBtn" (click)="remove()" matTooltip="Remove Examination"><i class="fas fa-trash"></i></a>