<div class="lab">
    <div class="lab-title">
        <h4>Laboratory </h4>
        <h2>{{labName}}</h2>
    </div>
    

    <div class="lab-wrapper">
        <div class="lab-links">
            <ng-container *ngIf="publicLinks && publicLinks.length > 0">
                <ng-container *ngFor="let link of publicLinks">
                    <app-info-box [title]="link.title" [icon]="link.icon" [link]="link.link"></app-info-box>
                </ng-container>
            </ng-container>
            
            <ng-container *ngIf="isEmployee === true && privateLinks && privateLinks.length > 0">
                <ng-container *ngFor="let link of privateLinks">
                    <app-info-box [title]="link.title" [icon]="link.icon" [link]="link.link"></app-info-box>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>