.box {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #dddddd59;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 0;

    &-link:hover {
        transform: scale(1.1);
    }

    img {
        width: 120px;
        height: 120px;
    }

    h3 {
        margin: 10px 0 0 0;
        color: #346CD8;
        font-size: 20px;
    }

    p {
        font-size: 15px;
        font-weight: 500;
        color: #565656;
        padding: 0 10px;
        height: 80px;
    }

    span {
        font-size: 20px;
        font-weight: 700;
    }
}